@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

h1,
h2,
h3,
h4,
h5,
h6,
button 
{
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  color: #25a2c3;
  line-height: 1.5rem;
}

h1, hero h1 {
  font-size: 2.2rem;;
}

h2 {
  font-size: 1.6rem;
}

p, a {
  color: #393d41;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  line-height: 1.65rem;
}

p {
  font-size: 1.2rem;
}

*/ {
    box-sizing: border-box;
}



/* NAVABAR */

nav {
  align-items: center;
  text-align: center;
  background-color: black;
  padding: 60px;
}

nav img {
  margin-inline: auto;
  width: 150px;
}

/* HERO SECTION */

.hero {
  background-image: url(../images/banner.jpg);
  padding: 4rem;
  align-items: center;
  text-align: center;
}

.hero h1 {
    margin: 20px;
    line-height: 2.2rem;
}

.hero p {
  margin-bottom: 40px;
}

.hero button {
  background-color: #f04c2f;
  text-transform: uppercase;
  border-radius: 4px;
  border: none;
  padding: 8px;
  width: 40%;
  color: white;
  font-weight: 600;
}

/* CONTENT */

.content {
  padding: 4rem;
  align-items: center;
  text-align: center;
}

.content h3 {
  font-size: 1.25rem;
  padding: 20px;
}

.content p {
  margin-bottom: 20px;
}

.content img {
  border-radius: 50%;
  width: 60%;
  margin: 10px 0;
}

.guarantee {
  background-color: #e22d0e;
  padding: 4rem;
  align-items: center;
  text-align: center;
}

.guarantee h2, 
.guarantee h5, 
.guarantee p {
  color: white;
}

.guarantee h2 {
  font-size: 2rem;
}

.guarantee h5 {
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  font-size: 1.2rem;
}

.guarantee p {
  font-size: 1.2rem;
  font-style: italic;
  font-weight: 100;
  margin: 40px 0;
}

.guarantee .job-title {
  font-size: 14px;
  font-style:normal;
  margin-top: 10px;
  margin-bottom: -20px;
}

.card {
  margin-top: 60px;
}

.card1,
.card2,
.card3
{ 
  border:#dee1e3 1px solid;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  align-items: center;
  text-align: center;
  margin: 2rem;
}

.card h3 {
  font-size: 1.25rem;
  padding: 20px;
}

.card p {
  padding: 1rem;
  margin-top: -10px;
  margin-bottom: 30px;
}

.card img {
 width: 100%;
}

/* FOOTER */

footer {
margin-top: 100px;
background-color:  #25a2c3;
padding: 4rem;
align-items: center;
text-align: center;
}

footer h2, 
footer p, 
footer i,
footer a {
  color:white;
}

footer h2 {
  font-size: 2rem;
  margin-bottom: 10%;
}

footer a {
  font-weight: normal;
  opacity: 70%;
}

footer p {
  font-size: 1rem;
  font-family: "Open Sans", sans-serif;
}

footer i {
  size: 14px;
}

footer .address {
 opacity: 70%;
 font-size: 16px;
}

footer .address i {
  opacity: 1.0 !important;
 } 

hr {
  text-align: center;
  border:white 0.5px solid;
  opacity: 80%;
  width: 50%;
  margin-bottom: 40px;
 }

.copyright {
  color:white;
  font-size: 14px;
  opacity: 70%;
}

.copyright a {
   opacity: 90%;
}