@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

h1,
h2,
h3,
h4,
h5,
h6,
button 
{
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  color: #25a2c3;
  line-height: 1.5rem;
}

h1, hero h1 {
  font-size: 2.2rem;;
}

h2 {
  font-size: 1.6rem;
}

p, a {
  color: #393d41;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  line-height: 1.65rem;
}

p {
  font-size: 1.2rem;
}

*/ {
    box-sizing: border-box;
}



/* NAVABAR */

nav {
  align-items: center;
  text-align: center;
  background-color: black;
  padding: 60px;
  margin-top: 20px;
}

nav img {
  margin-inline: auto;
  width: 150px;
}

/* HERO SECTION */

.hero {
  background-image: url(../images/banner.jpg);
  padding: 4rem;
  align-items: center;
  text-align: center;
}

.hero h1 {
    margin: 20px;
    line-height: 2.2rem;
}

.hero p {
  margin-bottom: 40px;
}

.hero button {
  background-color: orangered;
  text-transform: uppercase;
  border-radius: 4px;
  border: none;
  padding: 8px;
  width: 40%;
  color: white;
  font-weight: 600;
}

/* CONTENT */
/* FOOTER */